[Desktop Entry]
Encoding=UTF-8
Name=Noorcoin
Comment=Noorcoin P2P Cryptocurrency
Comment[fr]=Noorcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Noorcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/Noorcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/Noorcoin;
Categories=Office;
